{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Reality doesn't exist and so we do.</p>
        <p>Don't use real data to register your account, just invent an email with a '@' and a '.' and a random pass</p>
        <p>e.g. "something@whatyouwant.ohyeah</p>
        <p>Password are hashed and secure but it's a good idea to put a random one with more than 8 characters.</p>
        <p>Register, post, comment, edit post, have a nice life until this site will be shut down forever.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}